{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["react-app","plugin:react/recommended", "airbnb", "prettier", "prettier/react"],
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "no-unused-vars": "warn",
    "react/jsx-curly-brace-presence": "off",
    "no-param-reassign": "off",
    "no-use-before-define": "off",
    "no-nested-ternary": "off",
    "react/jsx-filename-extension": "off",
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/jsx-props-no-spreading": "off",
    "react/destructuring-assignment": "off",
    "react/state-in-constructor": "off",
    "react/static-property-placement":"off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "config/webpack/eslint.js"
      }
    }
  }
}
